:root {
  /* text color */
  --main-text-color: #000000;
  --main-2-text-color: #595959;
  --main-4-text-color: #A8A8A8;
  --main-5-text-color: #8B8E93;
  --accent-color: #FB6D3A;
  --white-color: #FFFFFF;
  /* background color */
  --back-field-background-color: #f5f7fa;
  --bg-sidebar-color: #1E2939;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--back-field-background-color);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 1200px;
  margin: 0px auto;
}

.section {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* mainbar styles */
.mainbar {
  background-color: var(--white-color);
  -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px;
}

/* about styles */
.about__position {
  font-size: 20px;
  margin-bottom: 10px;
}

.about__name {
  font-size: 45px;
  margin-bottom: 20px;
}

.about__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  width: 400px;
  height: 120px;
}

/* project styles */
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.project__list {
  padding: 0;
  margin-left: 15px;
}

.project__item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--main-text-color);
}

.project__span,
.project__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--main-2-text-color);
}

.project__link {
  margin-left: 10px;
  text-decoration: underline;
}

.project__bracket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--main-text-color);
}

/* work styles */
.company-container:not(:last-child) {
  margin-bottom: 20px;
}

.work__position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.work__list {
  padding: 0;
  margin-left: 15px;
}

.work__list--item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--main-2-text-color);
}

.organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--accent-color);
}

.period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--main-4-text-color);
  margin-bottom: 10px;
}

.line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--main-text-color);
}

/* education styles */
.education__position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.education__management {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-text-color);
  margin: 0;
  margin-bottom: 10px;
}

.education__period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--main-4-text-color);
}

/* sidebar styles */
.sidebar {
  background-color: var(--bg-sidebar-color);
  padding: 40px;
  min-width: 370px;
}
.sidebar__title {
  color: var(--white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.profile-image {
  width: 370px;
  margin-bottom: 50px;
  border-radius: 30px;
}

.contacts,
.techskills,
.softskills {
  margin-left: 40px;
}

.contacts {
  margin-bottom: 50px;
}

.contacts__type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--white-color);
  margin-right: 10px;
}

.contacts__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--main-5-text-color);
  text-decoration: underline;
}

.techskills {
  margin-bottom: 45px;
}

.techskills__list {
  color: var(--white-color);
  padding: 0;
  margin-left: 20px;
  list-style-type: disc;
}

.techskills__item {
  color: var(--accent-color);
}

.techskills__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--white-color);
}

.softskills__list {
  color: var(--white-color);
  padding: 0;
  margin-left: 20px;
  list-style-type: disc;
}

.softskills__item {
  color: var(--accent-color);
}

.softskills__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--white-color);
}/*# sourceMappingURL=main.css.map */