html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--back-field-background-color);
}

// main styles
main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0px auto;
}

// a:hover {
//     color: var(--accent-color);
// }
