html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--back-field-background-color);
}

// main styles
main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    height: auto;
    margin: 0px auto;
    box-shadow: 20px 20px 10px 0px rgba(0, 0, 0, 0.7);
}
