:root {
    /* text color */
    --main-text-color: #000000;
    --main-2-text-color: #595959;
    --main-4-text-color: #A8A8A8;
    --main-5-text-color: #8B8E93;
    --accent-color: #FB6D3A;
    --white-color: #FFFFFF;
    /* background color */
    --back-field-background-color: #f5f7fa;
    --bg-sidebar-color: #1E2939;
}
