/* about styles */

// .about {
//     margin-bottom: 40px;
// }

.about__position {
    font-size: 20px;
    margin-bottom: 10px;
}

.about__name {
    font-size: 45px;
    margin-bottom: 20px;
}

.about__description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    width: 400px;
    height: 120px;
}
