// contacts styles

.contacts,
.techskills,
.softskills {
    margin-left: 40px;
}

.contacts {
    margin-bottom: 50px;
}

.contacts__type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--white-color);
    margin-right: 10px;
}

.contacts__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--main-5-text-color);
}
