// contacts styles

.contacts {
    margin-bottom: 50px;
}

.contacts__type {
    font-weight: 700;
    color: var(--white-color);
    margin-right: 10px;
}

.contacts__link {
    font-weight: 700;
    line-height: 30px;
    color: var(--white-color);
}

.contacts__link:hover,
.contacts__link:hover .contacts__type,
.contacts__link:focus,
.contacts__link:focus .contacts__type {
    font-size: 20px;
    color: var(--accent-color);
}
