/* education styles */

.education__position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--accent-color);
    margin-bottom: 10px;
}

.education__management {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--main-text-color);
    margin: 0;
    margin-bottom: 10px;
}

.education__period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--main-4-text-color);
}
