/* education styles */


.education__item:not(:last-child) {
    margin-bottom: 30px;
}

.university {
    font-size: 16px;
    color: var(--white-color);
    margin-bottom: 10px;
}

.education__management {
    color: var(--white-color);
    // margin-bottom: 10px;
}

.education__period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--white-color);
}

.education__link p:not(:last-child) {
    margin-bottom: 10px;
}

.education__link:hover h4,
.education__link:focus h4 {
    color: var(--accent-color);
}
.education__link:hover h5,
.education__link:focus h5,
.education__link:hover p,
.education__link:focus p {
    color: var(--accent-color);
    font-size: 18px;
    font-weight: bold;
}

.line {
    padding: 0 5px;
}