/* work styles */

.experience {
    display: flex;
    flex-direction: column;
}

.company-container:not(:last-child) {
    margin-bottom: 20px;
}

.experience__text {
    font-style: italic;  
}

.company-container h4 {
    font-size: 18px;
    margin-bottom: 20px;
}

.company-container p {
    font-size: 18px;
}
.company-container p:not(:last-child) {
    margin-bottom: 10px;
}
