/* project styles */

.project__list {
    list-style-type: disc;
    margin-left: 20px;
    color: var(--accent-color);
}

.project__item {
    font-weight: 700;
    line-height: 30px;
}

.project__link {
    font-weight: 400;
    margin-left: 10px;
    color: var(--white-color);
}

.project__link:hover,
.project__link:focus {
    font-size: 20px;
    font-weight: 700;
    color: var(--accent-color);
}
