/* sidebar styles */

.sidebar {
    background-color: var(--bg-sidebar-color);
    padding: 40px;
    min-width: 370px;

    &__title {
            color: var(--white-color);
            font-size: 22px;
            margin-bottom: 10px;
        }
}

.profile-image {
    width: 370px;
    margin-bottom: 50px;
    border-radius: 30px;
}
