// skills styles

.skills {
    display: flex;
    flex-direction: column;

    &__title {
            margin-bottom: 10px;
        }
}

.skills__markup,
.skills__stechskills {
    margin-bottom: 10px;
}

.skills__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills__item {
    color: var(--accent-color);
}

.skills__text {
    font-size: 14px;
    line-height: 26px;
    color: var(--main-text-color);
}
